@font-face {
  font-family: RicksAmericanNF;
  src: url(../Resources/Fonts/RicksAmericanNF.ttf);
}
h1,
h2,
li {
  text-transform: uppercase;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #FCA902;
  margin: 0;
  background-color: #000;
  text-shadow: 3px 0px #000;
}
body #wrapper {
  width: 960px;
  margin: 0 auto;
}
body #wrapper header {
  font-family: RicksAmericanNF;
  text-shadow: none;
}
body #wrapper header h1 {
  padding-left: 30px;
  font-size: 60px;
  letter-spacing: 15px;
  margin: 0 auto;
}
body #wrapper header nav {
  font-size: 30px;
}
body #wrapper header nav ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}
body #wrapper header nav ul li {
  display: inline-block;
  width: 200px;
  height: 45px;
  text-align: center;
  cursor: pointer;
}
body #wrapper header nav ul li a {
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
}
body #wrapper header nav ul li:hover {
  background-color: #FCA902;
  border-radius: 20px;
  color: #000;
}
body #wrapper main {
  background-color: #3C3C3C;
}
body #wrapper main section {
  width: 55%;
  display: inline-block;
  padding-left: 40px;
}
body #wrapper main section article h2 {
  font-size: 23px;
  text-align: center;
  margin-bottom: 0;
}
body #wrapper main section article img {
  width: 50%;
}
body #wrapper main section article p {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin-top: 0;
  text-indent: 35px;
}
body #wrapper main section article p a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-style: italic;
}
body #wrapper main aside {
  margin-left: 50px;
  display: inline-block;
  width: 35%;
  vertical-align: top;
  margin-top: 30px;
}
body #wrapper main aside article {
  border-radius: 10px;
  cursor: pointer;
}
body #wrapper main aside article img {
  width: 65%;
  border: 1px solid #FCA902;
  border-radius: 10px;
}
body #wrapper main aside article label {
  display: block;
  width: 65.5%;
  top: -22px;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 0 0 11px 11px;
  font-weight: bold;
  text-align: center;
}
body #wrapper main aside article:hover > label {
  color: rgba(0, 0, 0, 0.4);
  background-color: #FCA902;
  text-shadow: none;
}
body #wrapper footer {
  margin-top: 10px;
  text-align: center;
}
/*
body black -> #000
yellow shadow ? -> #FCA902
main gray -> #3C3C3C

*/