<section>
    <div class="add-estate-form">
        <header class="main-header">Add new estate</header>
        <div class="data">
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Estate name..."/>
            <label for="category">Category:</label>
            <select id="category" class="category">
                <option value="All">All</option>
                {{#categories}}
                <option value="{{name}}">{{name}}</option>
                {{/categories}}
            </select>
            <label for="price">Price:</label>
            <input type="text" id="price" placeholder="0.00"/>
        </div>
        <div class="panel">
            <button id="add-estate-button" class="button">Add</button>
            <a href="#/home/">
                <button class="button">Cancel</button>
            </a>
        </div>
    </div>
</section>