<table id="phones">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>Bay Ivan</td>
        <td>+359 895 55 55 55</td>
        <td>
            <a href="#" class="link">Edit</a>
            <a href="#" class="link">Delete</a>
        </td>
    </tr>
    <tr>
        <td>Kiro Kirov</td>
        <td>+359 999 22 33</td>
        <td>
            <a href="#" class="link">Edit</a>
            <a href="#" class="link">Delete</a>
        </td>
    </tr>
    <tr>
        <td>Peter Norton</td>
        <td>+1 855 344 567</td>
        <td>
            <a href="#" class="link">Edit</a>
            <a href="#" class="link">Delete</a>
        </td>
    </tr>
</table>
<p><a href="#" class="button">Add Phone</a></p>