<form id="edit-project" name="edit-project" ng-show="contentLoaded">
    <h1>Edit project</h1>

    <label for="name">Project name</label>
    <input ng-model="projectData.Name" id="name" type="text" class="form-control" 
	placeholder="Project name..." required>

    <label for="description">Description</label>
    <textarea ng-model="projectData.Description" name="" id="description" class="form-control"
              placeholder="Add project description..." required>
    </textarea>

    <label for="select-leader">Select leader</label>
    <div>
        <select id="select-leader" ng-disabled="!isAdmin" ng-model="projectData.Leader" 
		data-ng-options="u.Username for u in users"
                class="form-control" required>
        </select>
    </div>

    <label for="priorities">Priorities (Comma separated)</label>
    <input ng-model="projectData.Priorities" id="priorities" type="text" class="form-control"
           placeholder="List project priorities..." required>

    <label for="proj-labels">Labels (Comma separated)</label>
    <input ng-model="projectData.Labels" id="proj-labels" type="text" class="form-control" 
	placeholder="Give project label..." required>

    <button class="btn btn-primary" ng-click="editProject()">Save project</button>
    <input class="btn btn-primary"  type="reset" value="Reset values">
</form>