body {
  font-family: 'Vollkorn', serif;
  color: #99A2AB;
}
body #wrapper {
  width: 1000px;
  margin: 0 auto;
}
body #wrapper header h1 {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}
body #wrapper main {
  display: flex;
  justify-content: space-between;
  height: 500px;
}
body #wrapper main section {
  width: 300px;
  display: inline-block;
  background-color: #F6F7F9;
  position: relative;
}
body #wrapper main section:hover > header,
body #wrapper main section button {
  background-color: #67D2E4;
}
body #wrapper main section:hover > header {
  color: #fff;
}
body #wrapper main section:hover > .price {
  color: #67D2E4;
}
body #wrapper main section header {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  background-color: #EBEEF3;
}
body #wrapper main section .price {
  text-align: center;
  padding-top: 20px;
  font-size: 60px;
  cursor: pointer;
}
body #wrapper main section ul {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  list-style-type: none;
  padding: 0;
}
body #wrapper main section ul li {
  margin-bottom: 25px;
  text-align: center;
}
body #wrapper main section .price:hover {
  color: #67D2E4;
}
body #wrapper main section button {
  background-color: #CAD5D9;
  color: #fff;
  border: none;
  height: 50px;
  width: 80%;
  margin-left: 26px;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}
body #wrapper main section button:hover {
  cursor: pointer;
  background-color: #67D2E4;
}