body {
    background-image: url('formBackground.jpg');
    
}

div {
    background-color: rgba(255, 197, 179, 0.2);
    border: 1px solid white;
    border-radius: 7px;
    height: 50px;
    width: 400px;
    text-align: center;
    margin: auto;
    margin-bottom: 3px;
}
h3 {
    font-family: Verdana;
    color: white;
    text-align: center;
}

span {
    text-align: center;
}

#buyButton {
    text-align: center;
    border-radius: 20px;
    background-color: #000080;
    border: none;
    height: 30px;
    width: 100px;
    color: white; 
}

#buttonDiv {
    text-align: center;
}

#buyButton:hover {
    background-color: black;
    cursor: pointer;
}

input, textarea {
    display: inline-block;
    width: 250px;
    height: 20px;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.50);
}

.radio {
    width:auto;
}