<h2 id="title">Change password</h2>

<form id="change-password" name="change-password">
    <label for="oldPass">Old Password</label>
    <input ng-model="changePasswordData.OldPassword" id="oldPass" type="password"
           class="form-control" placeholder="Enter your old password..." required minlength="6">

    <label for="newPass">New Password</label>
    <input ng-model="changePasswordData.NewPassword" id="newPass" type="password"
           class="form-control" placeholder="Enter your new password..." required minlength="6">

    <label for="newPassConf">Confirm Password</label>
    <input ng-model="changePasswordData.ConfirmPassword" id="newPassConf" type="password"
           class="form-control" placeholder="Confirm your new password..." required minlength="6">

    <button class="btn btn-primary" ng-click="changePassword()">Change password</button>
    <input class="btn btn-primary"  type="reset" value="Reset values">
</form>