* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Lemon;
  src: url(../fonts/Lemon-Regular.ttf);
}
body {
  font-family: 'Lemon';
}
body #wrapper {
  background-color: #602C76;
  width: 1000px;
  position: absolute;
}
body #wrapper section {
  margin: 30px auto 40px;
  background-color: #FFAE31;
  width: 900px;
  border-radius: 15px;
}
body #wrapper section header h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 15px;
}
body #wrapper section article {
  background-color: #601F55;
  color: #fff;
  width: 220px;
  margin: 0 10px 30px;
  display: inline-block;
  border-radius: 20px 5px;
}
body #wrapper section article:first-child {
  margin-left: 100px;
}
body #wrapper section article h3 {
  margin-top: 10px;
  text-align: center;
  font-size: 22px;
}
body #wrapper section article h5 {
  color: #FFAE31;
  text-align: center;
}
body #wrapper section article img {
  width: 80%;
  border: 5px solid grey;
  border-radius: 50%;
  margin-left: 15px;
}
body #wrapper section article img:hover {
  border-color: rgba(255, 0, 0, 0.6);
}
body #wrapper section article ul {
  list-style-type: none;
}
body #wrapper section article ul li {
  margin: 5px 15px;
}
body #wrapper section article button {
  width: 90%;
  margin: 10px 8px;
  border-radius: 10px;
  color: #602C76;
  font-family: 'Lemon';
  cursor: pointer;
}
body #wrapper section article button:hover {
  color: black;
}